{{!--
If the template in question has a background image, then we render responsive image styles
for it, and apply those styles to the <header> tag.
--}}

{{#if background}}
  {{#contentFor "herobackground"}}
  <style>
    .m-hero__picture {
      background-image: url({{img_url background size='xl'}});
    }

    @media(max-width: 1000px) {
      .m-hero__picture {
        background-image: url({{img_url background size='l'}});
      }
    }

    @media(max-width: 600px) {
      .m-hero__picture {
        background-image: url({{img_url background size='m'}});
      }
    }
  </style>
  {{/contentFor}}
{{/if}}

{{#is "post"}}<section class="m-hero {{#if background}}with-picture{{else}}no-picture{{/if}} in-post" data-aos="fade">{{/is}}
{{#is "post"}}<div class="m-hero__picture in-post"></div>{{/is}}
